body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
header{
	padding: 0;
    margin: 0;
}
h1, h2, b {
    font-family: 'Montserrat', sans-serif;
}
#burger {
    display: none;
}
section{
	display: block;
}
/*NAVIGATION BAR*/
nav {

    padding: 25px 50px;
	background: #E6E7EB;
    text-align: right;

}
#nav_spacing{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;

}
#nav_spacing2{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

}

.nav-btn {
    color: black;
    margin: 0 20px;
    transition: 0.2s;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

.nav-btn:hover, .nav-btn:nth-of-type(1) {
    color: #10C9C3;
}
/*BANNER*/
#banner {
    height: 666px;
    background: url("../img/banner2.jpg") no-repeat;
    background-size: cover;
}
#banner_spacing{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding-top: 20%;
	width: 40%;
	margin-left: calc(60% - 50px);
}
#banner_spacing > h1{
	margin: 0px 0px auto 20px;
	font-size: 2em;
}
#banner_spacing > p{
	margin: auto 0px auto 20px;
}
#banner_spacing > a{
	text-decoration: none;
}

#banner-content {
    width: 500px;
    float: right;
}

#banner-content > a {
    text-decoration: none;
    color: white;
    background: #10C9C3;
    padding: 20px 40px;
}
/* ABOUT US*/
#about{
	margin: auto;
	background: white;
	display: flex;
    flex-flow: row wrap;
	padding: 100px 50px;
	align-items: baseline;
	justify-content: center;
	text-align: center;
}
.about_us{
	
	width: calc(40% + 80px);
	
	
	
}
/* PROFESSION SKILLS*/
#pro_skills{
	height: 666px;
	background: url("../img/skills.jpg") no-repeat;
    background-size: cover;
	display: flex;
    flex-flow: row wrap;
	padding: 0px 50px 0px 50px;
	align-items: center;
	justify-content: flex-start;

}
#pro_img{
	width: 50%;
    display: flex;
	justify-content: flex-end;

	
}
#about{
	
}
.pro_spacing{
	
	width: calc(40% + 80px);
	
	
	
}
/* STATS*/

#stats{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
	padding: 100px 50px 100px ;
	text-align: left;
	color: white;
	background-color: #10C9C3;
	align-items: center;
}
.stat_spacing{
	margin:auto;
	display: flex;
}
.stats_item > b{
	margin-bottom: 0px;
	padding-left: 20px;
}
.stats_item > p{
	margin: 0px;
	padding-left: 20px;
}
#stats > img{
	display: flex;
	height: 44px;
	width: 44px;
	margin: 0px 20px;
}

/* PRODUCTS*/


#products > img{
	
	
	height: 333px;
	float:left;
	margin: auto;
	object-fit: cover;
  	object-position: 50% 50%;
	padding: 0px 50px;

}

.products_load{
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin: auto;
	background: #ebebeb;
	padding: 40px 50px;

}

.products{
	display: flex;
	flex-flow: row wrap;

}
.products > img {


	width: 100%;
}


/* VIDEO*/
#content{

	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	text-align:center;
	width: calc(40% + 65px);
	margin: auto;
	padding: 100px 0px 0px;
	
}
#video_player{

	height: 80%;
	margin: auto;
	padding-bottom: 100px;
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

/* WORK PROFFESIONS*/
#work_proc{
	background: #ebebeb;
	display: flex;
    flex-flow: row wrap;
	margin: auto;
	align-items: baseline;
	text-align: center;
	padding: 80px 40px;

    
}
.work_proc_item{
	flex: 25%;
	margin:auto;

}
.work_proc_item > img{
	width: 50px;
	height: 50px;
	display: flex;
    flex-flow: row wrap;
	margin: 0 auto 20px auto;
}
/* TESTIMONIALS*/

#testimonials{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	padding: 100px 50px 0px ;
	text-align: center;
	color: white;
	background-color: #10C9C3;
}
ul {
    list-style: none;
	margin-right:100px;
}
#testimonials ul {

    margin: 100px auto;
    height: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0px 50px;
}
#testimonials ul li {
    border-radius: 8px;
    margin-left: 10px;
    background-color: white;
    cursor: pointer;
}

.grey_dot {
	opacity: 0.5;
	width: 8px;
    height: 8px;
	border-radius: 8px;
}
.white_dot {
	width: 10px;
    height: 10px;
	border-radius: 8px;
}

/* CLIENTS*/

.clients{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 25px;
	padding: 0px 50px;

}
.clients > img {
	margin: auto;
	padding: 25px;
}

/* NEED A PROJECT CONTACT*/

#contact{
	background: #ebebeb;
	text-align: center;
	padding: 100px 50px;
	justify-content: center;
}
#contact > p{
	width: calc(40% + 80px);
	margin: auto;
}
form{
	display: block;
}

input{
	border-width: 0px;
	padding: 10px;
}
.submit{
	border-width: 0px;
	padding: 20px;
	margin: 20px;
	background-color: #10C9C3;
	color: white;
	cursor: pointer;
}
.submit:hover{
	text-decoration: none;
	opacity: 0.9;
}

#name,#email{
	width: 20%;
	margin: 20px;
}
#title{
	width: calc(40% + 65px);
	margin: 20px;
}
#comment{
	width: calc(40% + 65px);
	margin: 20px;
	padding: 10px;
	padding-bottom: 200px;
}
/* FOOTER*/

footer{
	background-color: #1f1f1f; /*#141414 main color but its too dark*/
	min-height: 256px;
	padding: 0px 50px;
	justify-content: center;
	
}
.container{
	width: 100%;
	padding: 100px 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;


}
.footer_content{
	color: grey;
	flex-grow: 2;
	
}
.footer_content > b {
    color: white;
}
.footer_content > a {
	display: block;
	color: grey;
	text-decoration: none;
}
.footer_content > a:hover {

    color: white;
    transition: 0.3s;
}
