body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
header{
	padding: 0;
    margin: 0;
}
h1, h2{
    font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
}
p{
	opacity: 0.6;
	font-size: 1.5rem;
}
b{
	font-size: 1.5rem;
}
a{
	font-size: 1.5rem;
}
input{
	font-size: 1rem;
	opacity: .6;
}

#burger {
    display: none;
}
section{
	display: block;
}
/*NAVIGATION BAR*/
nav {
    padding: 25px 50px;
    text-align: right;
}
#nav_spacing{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-end;

}
#nav_spacing2{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

}

.nav-btn {
    color: black;
    margin: 0 20px;
    transition: 0.1s;
	font-weight: bold;
	text-decoration: none;

	letter-spacing: 0.1rem;
}

.nav-btn:hover, .nav-btn:nth-of-type(1){
    color: #10C9C3;
}
.nav-btn:nth-of-type(1):hover{
	color: black;
}
/*BANNER*/
#banner {
	min-height: 650px;
    background: url("../img/banner2.jpg");
    background-size: cover;
}
#banner_spacing{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 40%;
	margin: 7% 0px 5% 0px;
	margin-left: calc(60% - 50px);
	

}
#banner_spacing > h1{
	margin: 0px 0px auto 20px;
	font-size: 2em;
}
#banner_spacing > p{
	margin: auto 0px auto 20px;
}
#banner_spacing > a{
	text-decoration: none;
}

#banner-content {
    width: 500px;
    float: right;
}

#banner-content > a {
    text-decoration: none;
    color: white;
    background: #10C9C3;
    padding: 20px 40px;
}
/* ABOUT US*/
#about{
	margin: auto;
	background: white;
	display: flex;
    flex-flow: row wrap;
	padding: 100px 50px;
	align-items: baseline;
	justify-content: center;
	text-align: center;
	
}
.about-us > p{
		font-weight: 1000;
}
.about-us{
	
	width: 60%;
}
/* PROFESSION SKILLS*/
#pro_skills{
	
	height: 666px;
	background: url("../img/skills.jpg");
    background-size: cover;
	display: flex;
    flex-flow: row wrap;
	padding: 0px 50px 0px 50px;
	align-items: center;
	justify-content: flex-start;
	

}
#pro_img{
	width: 50%;
    display: flex;
	justify-content: flex-end;

	
}
#pro-spacing{
	margin: 0 2.5rem;
	width: 50%;
}
#pro-spacing > b{
	margin: 50px 0px;
	letter-spacing: 0.1rem;
}
.grey-line{
	height: 4px;
    background: #d8d8d8;
    position: absolute;
	margin: 0px;
}
.line{
	width: 35%;
}
.line1{
	width: 25%;
	height: 4px;
	position: absolute;
	background:#10C9C3;
}
.line2{
	width: 30%;
	height: 4px;
	position: absolute;
	background:#10C9C3;
}
.line3{
	width: 20%;
	height: 4px;
	position: absolute;
	background:#10C9C3;
	}

#about{
	
}

/* STATS*/

#stats{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
	padding: 75px 50px;
	text-align: left;
	color: white;
	background-color: #10C9C3;
	align-items: center;
}
.stat_spacing{
	margin: 25px 0px;
	display: flex;
}
.stats_item > b{
	margin-bottom: 0px;
	padding-left: 20px;
}
.stats_item > p{
	margin: 0px;
	padding-left: 20px;
	opacity: 1;
	font-weight: 6000;
}
.stat_spacing > img{
	display: flex;
	height: 66px;
	width: 66px;
	margin: 0px 20px;
}

/* PRODUCTS*/

#products{
	margin: 0px;
	padding: 0px;
}

.products-grid{
	display: inline-flex;
	grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
	grid-column-gap: 0px;
	margin: 0px;
	padding: 0px;
}
.products-grid > div{
	height: 30vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	transition: all 0.1s ease-in;

}
.products-grid > div:hover{
	filter: brightness(50%);
    background-color:#808080a8;
	transform: scale(0.98);
	cursor: pointer;
	
}
.products-grid {
    display: inline-flex;
}
@media all and (min-width: 40em) {
    .products-grid {
        display: grid;
    }
}
.img1{
	background-image: url("../img/1.jpg");

}
.img2{
	background-image: url("../img/2.jpg");
}
.img3{
	background-image: url("../img/3.jpg");

}
.img4{
	background-image: url("../img/4.jpg");

}
.img5{
	background-image: url("../img/5.jpg");

}
.img6{
	background-image: url("../img/6.jpg");

}
.img7{
	background-image: url("../img/7.jpg");

}
.img8{
	background-image: url("../img/8.jpg");

}

.load-more{
	text-decoration: none;
	color: black;
}
.products_load{
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin: auto;
	background: #ebebeb;
	padding: 40px 50px;
	font-weight: 1000;
	letter-spacing: 0.1rem;
	text-transform:uppercase;
}

/* VIDEO*/
#content{

	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	text-align:center;
	width: calc(40% + 65px);
	margin: auto;
	padding: 100px 0px 0px;
	
}
#video_player{

	height: 80%;
	margin: auto;
	padding-bottom: 100px;
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}
#video-container{
	position: relative;
}

#shadow, #ellipse, #arrow {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-user-drag: none;
}
#arrow {
    left: 38px;
    top: 35px;
}
/* WORK PROFFESIONS*/
#work_proc{
	background: #ebebeb;
	display: flex;
    flex-flow: row wrap;
	margin: auto;
	align-items: baseline;
	text-align: center;
	padding: 80px 40px;
}

.work_proc_item{
	flex: 25%;
	margin: 25px 0px;
	
}
.work_proc_item > img{
	width: 50px;
	height: 50px;
	display: flex;
    flex-flow: row wrap;
	margin: 0 auto 20px auto;
	opacity: 0.5;

}
.work_proc_item > b{
	letter-spacing: 0.1rem;
}
/* TESTIMONIALS*/

#testimonials{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	padding: 100px 50px 0px ;
	text-align: center;
	color: white;
	background-color: #10C9C3;
}
ul {
    list-style: none;
	margin-right:100px;
}
#testimonials ul {

    margin: 100px auto;
    height: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0px 50px;
}
#testimonials ul li {
    border-radius: 8px;
    margin-left: 10px;
    background-color: white;
    cursor: pointer;
}

.grey_dot {
	opacity: 0.5;
	width: 8px;
    height: 8px;
	border-radius: 8px;
}
.white_dot {
	width: 10px;
    height: 10px;
	border-radius: 8px;
}

/* CLIENTS*/

.clients{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 50px 50px;


}
.clients > img {
	margin: auto;
	width: 150px;
	height: 100px;
	padding: 25px;
}

/* NEED A PROJECT CONTACT*/

#contact{
	background: #ebebeb;
	text-align: center;
	padding: 100px 50px;
	justify-content: center;
}
#contact > p{
	width: calc(40% + 80px);
	margin: auto;
}
form{
	display: block;
}

input{
	border-width: 0px;
	padding: 10px;
}
.submit{
	border-width: 0px;
	padding: 10px 40px;
	margin: 20px;
	background-color: #10C9C3;
	color: white;
	font-weight: 600;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

.submit > p{
	font-weight: 600;
	letter-spacing: 0.1rem;
	opacity: 1;
	font-size: 1rem;
}
.submit > p:hover{
	text-decoration: none;
	font-weight: 600;
	color: black;
	opacity: 0.6;
	transition: 0.1s;
}

#name,#email{
	width: 20%;
	margin: 20px;
}
#title{
	width: calc(40% + 65px);
	margin: 20px;
}
#comment{
	width: calc(40% + 65px);
	margin: 20px;
	padding: 10px;
	padding-bottom: 200px;
}
/* FOOTER*/

footer{
	background-color: #1f1f1f; /*#141414 main color but its too dark*/
	min-height: 256px;
	padding: 0px 50px;
	justify-content: center;
	
}
.container{
	width: 100%;
	padding: 100px 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;


}
.footer_content{
	color: white;
	flex-grow: 2;
}
.footer_content > b {
    color: white;
}

.footer_content > a {
	display: block;
	color: white;
	text-decoration: none;
	opacity: .6;
}
.footer_content > a:hover {

    color: white;
    transition: .1s;
	opacity: 1;
}
